.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid #000;

    
    .logo{
        font-family: var(--ff-logo);
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 9rem;
        // display: inline-block;
    }
    .hambugger{
        display: none;

        @media(max-width: 800px){
            display: block;
        }
    }
    &__links{
        display: flex;
        align-items: center;
        gap: 4.7rem;

          @media(max-width: 800px){
            display:none;
        }
        &-links{
            font-family: var(--ff-satoshi);
            font-weight: 400;
            font-size: 24px;
            line-height: 32.4px;
            color: #000;
            text-decoration: none;
        }
    }
    &__buttons{
        display: flex;
        align-items: center;
        gap: 3.15rem;

        img{
            display: block;
            width: 100%;
        }

        button{
            width: 2.8rem;
            height: 2.8rem;
             @media(max-width: 800px){
           &:last-child{
            display: none;
           }
        }

            
        }
    }
}

.btn-logo{
    border: 0;
    outline: 0;
    background: transparent;
}
.active{
    text-decoration: underline;
}