.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 33;
    // border: 1px solid #000;

    
    .logo{
        font-family: var(--ff-logo);
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 9rem;
        // display: inline-block;
        position: relative;
       
    }
    .hambugger{
        display: none;
         z-index: 100;

        @media(max-width: 800px){
            display: block;
        }
    }

     &__links.toggle-active{
         @media(max-width: 800px){
            // display: block;
            visibility: visible;
            // opacity: 1;
            transform: translateX(0);
             transition: all .5s ease-out;
             z-index: 99;




            
        }

        a{overflow-y: hidden;

            span{
                display: block;

                 @media(max-width: 800px){
           


                   
                     transform: translateY(0);
                       transition: all .5s ease-in-out;
                       transition-delay: .5s;
        }

            }
        }
       
        
           

    }
    &__links{
        display: flex;
        align-items: center;
        gap: 4.7rem;
        z-index: 88;

          @media(max-width: 800px){
            flex-direction: column;
            align-items: flex-start;
            padding:126px  50px;
             position: fixed;
            inset: 0;
            background: #fff;
            visibility: hidden;
            // opacity: 0;
           
            transform: translateX(-100%);
            transition: all .5s ease-out;
           
        }
        a{
            font-family: var(--ff-satoshi);
            font-weight: 400;
            font-size: 24px;
            line-height: 32.4px;
            color: #000;
            text-decoration: none;
            overflow-y: hidden;
            // border: 1px solid #000;

            

            
            span{
                   @media(max-width: 800px){
                    // background: #000;
                    //  opacity: 0;
                       transform: translateY(100%);
                       transition: all .5s ease-in-out;
                       transition-delay: .5s;
                       
           
        }

            }
        }
    }
    &__buttons{
        display: flex;
        align-items: center;
        gap: 3.15rem;

        img{
            display: block;
            width: 100%;
        }

        button{
            width: 2.8rem;
            height: 2.8rem;
             @media(max-width: 800px){
           &:last-child{
            display: none;
           }
        }

            
        }
    }
}

.btn-logo{
    border: 0;
    outline: 0;
    background: transparent;
}
.active{
    text-decoration: underline;
}
.nth{
    padding: 0;
}