.exhibition{
    background-image: linear-gradient(99.99deg, #4693ED -26.21%, #79C2D2 22.16%, rgba(192, 86, 9, 0.49) 111.62%);
    @media(max-width: 450px){
            padding-block: 33px;
            margin-top: 100px;
           }
           
   
    .header{
    padding-block: 2.5rem 1.7rem;
    //    margin-block: 25px 17px;
     @media(max-width: 450px){
            display: none;
           }
       h2{
           color: #fff;
           font-family: var(--ff-satoshi);
           font-weight: 500;
           font-size: 4rem;
           line-height: 5.4rem;
           position: relative;
           display: inline-block;
           
           border-bottom: 3px solid rgba(#fff, 0.49);

          
           
        
            }
            
        }
    &__hero{
    min-height: 54.6rem;
   margin-top: 2.1rem;
   padding: 5.2rem 3.3rem;
   display: flex;
   align-items: flex-end ;
   @media(max-width:900px){
       align-items: center;
       min-height: auto;
       padding: 5.2rem 10px;
       margin-top: 0;
        
    }

   &-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;

    @media(max-width:900px){
        flex-direction: column;
        gap: 12px;

    }
    .info{
        display: grid;
        max-width: 70rem;
        grid-template-columns: 6rem 1fr;
        column-gap: 2rem;
        align-items: center;
        .bullet{
                // content: "";
                // position: absolute;
                display: block;
                width: 1.6rem;
                height: 1.6rem;
                border-radius: 50%;
                background: #fff;
                grid-column: 1/2;
                justify-self: right;
                

            }
        .title{
            font-size: 29.23px;
            line-height: 33.5px;
            font-weight: 400;
            font-family: var(--ff-bellefaire);
            position: relative;
            max-width: 35.4rem;
            // margin-left: 12.42px;
            grid-column: 2/3;
            grid-row: 1/2;
             @media(max-width:900px){
       max-width: 100%;

    }
            

           
        }
        .bullet-number{
             font-size: 6.76rem;
                font-weight: 400;
                font-family: var(--ff-bellefaire);
               
                // border-radius: 50%;
                // background: #fff;
                left: -2.24rem;
                top: 5px;
                 grid-row: 2/3;
                 grid-column: 1/2;

        }
        .date{
            font-family: var(--ff-poppins);
            font-weight: 400;
            font-size: 13.46px;
            line-height: 20.19px;
            // position: relative;
              grid-column: 2/3;
              grid-row: 2/3;

              

        }

        .about{
            grid-column: 2/3;
              grid-row: 3/4;
                 font-family: var(--ff-satoshi);
            font-weight: 500;
            font-size: 1.7rem;
            line-height: 21.41px;
            letter-spacing: 6.5%;

        }

    }
    .buttons{
        align-self: flex-end;
        display: flex;
        justify-content: flex-end;
        // border: 1px solid #000;
        width: 100%;
        gap: 29px;


        a{
            color: #fff;
            text-decoration: none;
            text-decoration: underline;
            
            font-family: var(--ff-satoshi);
            font-weight: 400;
            font-size: 2.4rem;
            line-height: 32.4px;
            // border-bottom: 1px solid #fff;

        }
        button{
            padding: 1.5rem;
            border: 1px solid #FFFFFF;
        border-radius: 10px;
        color: #fff;
        background: transparent;
          font-family: var(--ff-satoshi);
            font-weight: 400;
            font-size: 2.4rem;
            line-height: 3.24rem;
          

        }

    }
   }
   }

   &__icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 21px 26.3px;
     @media(max-width: 450px){
            display: none;
           }
           
   }

   &__buttons{
    display: flex;
    gap: 19.44px;

    button{
        border: none;
        // background: transparent;
        border-radius: 50%;
        padding: 30px;
        background: rgba(255, 255, 255, 0.2);
box-shadow: 7.77035px 7.77035px 11.6555px rgba(0, 0, 0, 0.15);
    }
   }
}