:root {
  --ff-satoshi: "Satoshi", sans-serif;
  --ff-logo: "STIX Two Text", serif;
  --ff-clash: "Clash Display", sans-serif;
  --ff-poppins: "Poppins", sans-serif;
  --ff-bellefaire: "Bellefair", serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
html {
  font-size: 10px;

  @media (max-width: 900px) {
    font-size: 8px;
  }
  @media (max-width: 600px) {
    font-size: 6px;
  }
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 144rem;
  margin-inline: auto;
  padding-top: 8rem;
  // overflow: hidden;

  @media (max-width: 450px) {
    padding-top: 32px;
  }

  /* border: 1px solid #000; */
}
.wrapper {
  width: 83.333%;
  margin-inline: auto;
  @media (max-width: 1200px) {
    width: 92.3%;
  }
}
@keyframes slideleft {
  0% {
    transform: translateX(0%);
  }
  5% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(-100%);
  }
  30% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(-200%);
  }
  55% {
    transform: translateX(-300%);
  }
  75% {
    transform: translateX(-300%);
  }
  80% {
    transform: translateX(-400%);
  }

  90% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideright {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

// @keyframes fade {
//   0% {
//     opacity: 0;
//   }
//   50% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
  
// }
